@font-face{
  font-family:"Noto Sans KR";
  font-weight: 200;
  src: url("./assets/css/fonts/NotoSansKR-Thin.otf") ;
}
@font-face{
  font-family:"Noto Sans KR";
  font-weight: 300;
  src: url("./assets/css/fonts/NotoSansKR-Light.otf") ;
}
@font-face{
  font-family:"Noto Sans KR";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/css/fonts/NotoSansKR-Regular.otf") ;
}
@font-face{
  font-family:"Noto Sans KR";
  font-weight: 500;
  src: url("./assets/css/fonts/NotoSansKR-Medium.otf") ;
}
@font-face{
  font-family:"Noto Sans KR";
  font-weight: 700;
  src: url("./assets/css/fonts/NotoSansKR-Bold.otf") ;
}
@font-face{
  font-family:"Noto Sans KR";
  font-weight: 900;
  src: url("./assets/css/fonts/NotoSansKR-Black.otf") ;
}
@font-face{
  font-family:"Libre Barcode 128 Text";
  font-weight: 400;
  src: url("./assets/css/fonts/LibreBarcode128Text-Regular.ttf") ;
}


body {
  font-family: 'Noto Sans KR', sans-serif, -apple-system, BlinkMacSystemFont, 'Open Sans', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Libre Barcode 128 Text',
    sans-serif;
  padding: 0;
  margin: 0;
  background-color: #f0f2f3;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
}

.modal-dialog {
  width: 100%;
  margin-top: 0%;
  min-width: 500px;
}

.custom-modal-style {
  width: 1000px;
  /* height: 802px; */
  margin-top: 10%;
   margin-left: -50%; 
  }